[all:children]
k8s_master
k8s_worker

[all:vars]
ansible_user = 
k8s_user = kisho

# k8s ports 
port_nginx = 30000
port_django = 30001
port_mysql = 30002
port_redis = 30003

[k8s_master]
kisho-master.andrew.cmu.edu

[k8s_master:vars]
k8s_role = master
k8s_network_cidr = 10.244.0.0/16
k8s_flannel_src_url = https://raw.githubusercontent.com/coreos/flannel/v0.12.0/Documentation/kube-flannel.yml

[k8s_worker]
kisho-worker.andrew.cmu.edu

[k8s_worker:vars]
k8s_role = worker